button{
  border-radius: 4px;
  background: url("");
  font-size: 1.4em;
}
footer{
  margin-left: 5em;
  padding: 5px;
}
h1 {
  margin: 1% 5% 1% 5%;
  padding: 10px;
  font-size: 3em;
}
h2{
  margin-left: 7em;;
  color:rgb(164, 21, 21)

}
h3{
  margin-top: 20px;
  margin-left: 5em;
  font-size: 3em;
}
button,footer, h1, h3{
  color:rgb(164, 21, 21)

}
input{
  flex-grow: 5;
  padding: 2px 5px;
  font-size: .9em;
  font-weight: bold;
}
li{
  list-style: none;
  margin: 1% 5% 1% 5%;
  padding: 10px;
  font-size: 1.4em;
  font-weight: 900;
  color:rgb(164, 21, 21)

}
video {
  min-width: 100%;
  min height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0 left:0;
  z-index: -1;
}
.formContain{
  margin-left: 5em;;
  flex-wrap: wrap;
}


#video-container {
  width: 100%;
  height: 1030px;
  overflow: hidden;
  position: relative;
}


.content {
  position: absolute;
  background-color: rgba(186, 182, 187, 0.58);
  margin-left:65em;
  /* top: 50%;
  left: 50%;
  width: 100px;  */
  /* transform: translate(-120%, -230%);
  /* opacity: .4; */
}
